.avatar {
  height: 32px;
  width: 32px;
  font-size: 32px;
  display: inline-block;
  background-size: 32px 32px;
  border-radius: 32px;
  border: 1px white solid;
  margin-right: 10px;
  background-color: whitesmoke;
}